<body class ="profilepage">
  <div class ="container-fluid">

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 fill">
          <h2 class="profilename"> <%=@profile.full_name.upcase%>
                     <%= link_to profile_path(@profile.id) do%>
                     <i class="fa fa-pencil" aria-hidden="true"></i>
                     <%end%> </h2>
  <span class="statistics">Email:</span> <%=@profile.email%>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>

      <div class="row">
        <div class="col-sm-1"></div>
      <div class="col-sm-5 stats">
        <div class="col-sm-12 header"> <h3> Stats:</h3></div>
          <span class="statistics">Current Age:</span> <%=@profile.age%><br>
          <span class="statistics">Height:</span> <%=@profile.height%> FT. <br>
          <span class="statistics">Current Goal:</span> <%=@profile.goal%> <br>
          <span class="statistics">Starting Weight:</span> <%=@profile.weight%> LBS <br>
          <span class="statistics">Target Weight:</span> <%=@profile.length%> LBS <br>

      </div>
      <div class="col-sm-5 goals">
        <div class="col-sm-12 header"> <h3> Goals:</h3></div>

      <span class="statistics">TDEE: </span> <%=@tdee.ceil%> Calories<br>
      <span class="statistics">GAIN WEIGHT:</span> <%=@bulk.ceil%> Calories<br>
      <span class="statistics">LOSE WEIGHT:</span> <%=@cut.ceil%> Calories<br>
        <br>
        <br>

        </div>
        <div class="col-sm-1"></div>
      </div>
      <br>
         <div class="row">
        <div class="col-sm-1"></div>
      <div class="col-sm-5 stats">
        <div class="col-sm-12 header"> <h3> Keep In Mind:</h3></div>
           <span class="statistics">Remember:</span> 3,500 calories equals about 1 pound (0.45 kilogram) of fat. You need to burn 3,500 calories more than you take in to lose 1 pound. So, in general, if you cut 500 calories from your typical diet each day, you'd lose about 1 pound a week (500 calories x 7 days = 3,500 calories)
      </div>
      <div class="col-sm-5 goals">
        <div class="col-sm-12 header"> <h3> Goals: Gain Weight</h3></div>

      <span class="statistics">TDEE: </span> <%=@tdee.ceil%> Calories<br>
      <span class="statistics">GAIN WEIGHT:</span> <%=@tdee.ceil%> Calories<br>
      <span class="statistics">LOSE WEIGHT:</span> <%=@tdee.ceil%> Calories<br>
        <br>
      </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <br>
 <div class="row">
        <div class="col-sm-1"></div>
      <div class="col-sm-5 stats">
        <div class="col-sm-12 header"> <h3>Counting Macros</h3></div>
        <br>
        THiS
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col-sm-5 goals">
        <div class="col-sm-12 header"> <h3> Goals: Lose Weight</h3></div>

      <span class="statistics">TDEE: </span> <%=@tdee.ceil%> Calories<br>
      <span class="statistics">GAIN WEIGHT:</span> <%=@tdee.ceil%> Calories<br>
      <span class="statistics">LOSE WEIGHT:</span> <%=@tdee.ceil%> Calories<br>
        <br>


  </div>
<body>

  



       