<div class ="container-fluid" id="list"> 
      <%if current_user.entries == []%>
        <%= link_to "Add Entry", entries_path%>
      <%else%>
          <%= link_to entries_path do%>
            <i class="fa fa-plus-circle fa-2x add" aria-hidden="true"></i>
          <%end%>
      <%end%>
   <div class="row " style="height:7vh;">
    <%if current_user.entries == []%>
      <%= link_to entries_path do%>
        <h2>Click to Add Entry</h2>
      <%end%>
    <%end%>
    <%@entries.each do |entry|%>
    <div class="row">
        <%=link_to entry_path(entry.id) do%>
          <h3><%= entry.day%> -<%= entry.date%> </h3>
        <%end%>
     <%end%>
    </div>
   </div>
</div>
