<div style="margin-top: 20px;" class="row">
<div class="col-xs-3 col-xs-offset-1">
<%= form_with scope: :entries, model: @entry, class: "form-vertical " do |form| %>
<div class="form-group">
		<%= form.label :date, "Entry Date:" %>
		<%= form.text_field(:date, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :day, "Entry Day:" %>
		<%= form.text_field(:day, class: 'form-control') %>
<div class="form-group">
		<%= form.label :weighIn, "Morning Weigh In(lb):" %>
		<%= form.text_field(:weighIn, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :caloricGoal, "Caloric Goal(kcal):" %>
		<%= form.text_field(:caloricGoal, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :fatGoal, "Fat Goal(g):" %>
		<%= form.text_field(:fatGoal, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :carbGoal, "Carb Goal(g):" %>
		<%= form.text_field(:carbGoal, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :proteinGoal, "Protein Goal:" %>
		<%= form.text_field(:proteinGoal, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :actualCalories, "Actual Calories Consumed(kcal):" %>
		<%= form.text_field(:actualCalories, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :actualFat, "Actual Fat Consumed(g):" %>
		<%= form.text_field(:actualFat, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :actualCarb, "Actul Carbs Consumed(g):" %>
		<%= form.text_field(:actualCarb, class: 'form-control') %>
</div>
<div class="form-group">
		<%= form.label :actualProtein, "Actual Protein Consumed:" %>
		<%= form.text_field(:actualProtein, class: 'form-control') %>
</div>
		<%= form.submit('Submit', class: 'btn-sm btn-primary') %>
</div>
<% end %>
</div>
</div>
